body {
	margin: 0;
	padding: 0;
}

div {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.container {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.container .leftsection {
	position: absolute;
	width: 40%;
	height: 776px;
	left: 129px;
	top: 62px;

	background: #002D46;
}

.container .leftsection .inner-left {
	position: absolute;
	width: 661px;
	height: 856px;
	left: -41px;
	top: -39px;

	background: url(../img/light016com.png);
	background-position: -41px -39px;
}

.container .rightsection {
	position: absolute;
	width: 40%;
	height: 776px;
	left: 589px;
	top: 62px;

	background: #FFFCFC;
}

