* {
    margin: 10px 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#over-all {
    max-width: 1440px;
    max-height: 900px;
    background-color: white;
}

#over-all {
    height: 37rem;
    width: 75em;
    /* border: 5px solid blue; */
    /* margin: 3em;
    padding: 2em; */
}

.container {
    /* display: flex; */
    /* border: 5px solid black; */
    width: 463px;
    height: 80vh;
    margin: 10px 0;
}


/* beginning of the right side */

#right {
    /* position: absolute; */
    /* border: 5px solid red; */
    width: 35em;
    height: 85vh;
    /* margin: auto; */
    margin-left: 520px;
    /* padding: 2em; */
    padding: 10px;
    background-color: #FFFCFC;
}

h1 {
    font-weight: 600;
    font-size: 35px;
    text-align: center;
    margin-top: 10px;
    margin: auto;
}

#text-top {
    text-align: center;
}

.social-logos {
    /* position: absolute; */
    display: inline-block;
    margin-left: 31%;
    justify-content: space-evenly;
}

#right div {
    letter-spacing: 0.08em;
    font-weight: 650;
    color: #807E7E;
}

input {
    margin-left: 45%;
    height: 3em;
    width: 22em;
    background-color: #EDEBEB;
    border: 2px solid rgb(204, 200, 200);
    margin: 10px;
    margin-left: 25%;
}

#send-btn {
    margin: 3em 42%;
    height: 35px;
    width: 140px;
    border-radius: 30px;
    margin-bottom: 0;
    font-weight: bold;
    background: #002D46;
    color: white;
    border: none;
    box-shadow: 0px 1px 5px #002D46;
}

#send-btn:hover {
    margin: 3em 42%;
    height: 35px;
    width: 140px;
    border-radius: 30px;
    margin-bottom: 0;
    font-weight: bold;
    background: #002D46;
    color: white;
    border: 0.5px solid white;
    box-shadow: 0px 1px 5px #002D46;
}

.text-blw {
    text-align: center;
}

.text-blw span {
    font-weight: bold;
}

.text-blw span:hover {
    text-decoration-line: underline;
    font-weight: 600;
}

img {
    margin: 0 20px;
}